.app__screen--change {
  display: none;

  background-color: $changeBg;
  align-items: stretch;
  justify-content: flex-end;
  padding-bottom: rem(40);

  //Hide elements till needed
  .form-place input,
  textarea,
  .btn {
    display: none;
  }

  .form-place input,
  textarea {
    margin-top: 1rem;
  }

  .btn {
    margin-top: 2rem;
  }
}
