input[type="text"],
textarea,
select {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  box-shadow: inset 0px 0px 0px 2px #000;
  font-family: $font;
  font-size: rem(20);

  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px vw(4) rgba(#000,0.1);
  }
}

input[type="text"],
select {
  height: 4rem;
  padding: 0 1.5rem;
}
textarea {
  padding: 1.25rem;
  line-height: 1.5;
}
select {
  background: transparent url('../img/arrows.svg') right 1.5rem center no-repeat;
}

.btn {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  display: block;
  height: 4rem;
  line-height: 4rem;
  background-color: #000;
  color: #fff;
  font-family: $font;
  font-size: rem(20);
  font-weight: bold;
  text-align: center;
  border-radius: 2rem;
  padding: 0 2rem;

  &:focus {
    outline: none;
  }

  &--outline {
    display: inline-block;
    width: auto;
    height: rem(56);
    line-height: rem(54);
    color: #000;
    font-size: 1rem;
    padding: 0 1.5rem rem(2) rem(62);
    background: transparent url('../img/map.svg') 1.5rem center no-repeat;
    border: 2px solid #000;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  position: relative;
  width: rem(64);
  height: rem(40);
  border-radius: rem(20);
  background-color: #000;
  margin: 0;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: rem(4);
    top: rem(4);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    box-shadow: inset 0px 0px 0px 2px #fff;
    background: rgba(#fff, 0) url('../img/toggle-icons.svg') left center no-repeat;
    transition: all 0.2s ease;
  }

  &:checked:before {
    left: rem(28);
    background-color: rgba(#fff, 1);
    background-position: right center;
  }

  &:focus {
    outline: none;
  }
}

a.btn {
  text-decoration: none;
}

button,
input[type="submit"] {
  font-family: $font;
}
