/* line 5, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.4.2/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../sass/_foundation.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../sass/_foundation.scss */
html,
body {
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* line 22, ../sass/_foundation.scss */
html {
  font-size: 16px;
}

/* line 26, ../sass/_foundation.scss */
body {
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-color: #E2BAA0;
}

/* line 37, ../sass/_foundation.scss */
a {
  color: #000;
  text-decoration: underline;
}

/* line 42, ../sass/_foundation.scss */
h1 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  line-height: 3.5rem;
  font-weight: bold;
}
/* line 48, ../sass/_foundation.scss */
h1.long {
  font-size: 2.5rem;
  line-height: 3rem;
}

/* line 54, ../sass/_foundation.scss */
h2 {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* line 61, ../sass/_foundation.scss */
.word {
  display: inline-block;
  white-space: nowrap;
}

/* line 66, ../sass/_foundation.scss */
.letter {
  display: inline-block;
  opacity: 0;
}
/* line 70, ../sass/_foundation.scss */
.letter--space {
  width: 0.2em;
}

/* line 75, ../sass/_foundation.scss */
.loading {
  position: fixed;
  z-index: 200;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #A0E2E0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
/* line 89, ../sass/_foundation.scss */
.loading__car {
  font-size: 4rem;
  line-height: 1;
  animation: loading 2s infinite alternate ease;
  margin-top: 1.5rem;
}

@keyframes loading {
  form {
    transform: translateY(0rem);
  }
  to {
    transform: translateY(-3rem);
  }
}
/* line 106, ../sass/_foundation.scss */
.app {
  height: 100%;
}
/* line 109, ../sass/_foundation.scss */
.app__header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1rem 1rem;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
}
/* line 121, ../sass/_foundation.scss */
.app__header .back {
  width: 3rem;
  height: 3.5rem;
  background: transparent url("../img/back.svg") center center no-repeat;
  display: none;
}
/* line 128, ../sass/_foundation.scss */
.change-screen .app__header .back {
  display: block;
}
/* line 133, ../sass/_foundation.scss */
.app__header .user {
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  padding-left: 2rem;
  background: transparent url("../img/user.svg") left center no-repeat;
  font-size: 1rem;
  line-height: 3.3125rem;
  padding-top: 0.1875rem;
}
/* line 146, ../sass/_foundation.scss */
.app__screen {
  padding: 4rem 2rem 0;
  height: 100%;
  display: none;
  flex-flow: column nowrap;
  align-items: flex-start;
  justify-content: flex-start;
}
/* line 155, ../sass/_foundation.scss */
.app__screen.active {
  display: flex;
}

/* line 1, ../sass/_forms.scss */
input[type="text"],
textarea,
select {
  -webkit-appearance: none;
  display: block;
  width: 100%;
  border-radius: 0px;
  background-color: transparent;
  border: none;
  box-shadow: inset 0px 0px 0px 2px #000;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.25rem;
}
/* line 14, ../sass/_forms.scss */
input[type="text"]:focus,
textarea:focus,
select:focus {
  outline: none;
  box-shadow: 0px 0px 0px vw(4) rgba(0, 0, 0, 0.1);
}

/* line 20, ../sass/_forms.scss */
input[type="text"],
select {
  height: 4rem;
  padding: 0 1.5rem;
}

/* line 25, ../sass/_forms.scss */
textarea {
  padding: 1.25rem;
  line-height: 1.5;
}

/* line 29, ../sass/_forms.scss */
select {
  background: transparent url("../img/arrows.svg") right 1.5rem center no-repeat;
}

/* line 33, ../sass/_forms.scss */
.btn {
  appearance: none;
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  display: block;
  height: 4rem;
  line-height: 4rem;
  background-color: #000;
  color: #fff;
  font-family: "Alegreya Sans", sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  border-radius: 2rem;
  padding: 0 2rem;
}
/* line 50, ../sass/_forms.scss */
.btn:focus {
  outline: none;
}
/* line 54, ../sass/_forms.scss */
.btn--outline {
  display: inline-block;
  width: auto;
  height: 3.5rem;
  line-height: 3.375rem;
  color: #000;
  font-size: 1rem;
  padding: 0.125rem 1.5rem 0 4rem;
  background: transparent url("../img/map.svg") 1.5rem center no-repeat;
  box-shadow: inset 0px 0px 0px 2px #000;
}

/* line 67, ../sass/_forms.scss */
a.btn {
  text-decoration: none;
}

/* line 71, ../sass/_forms.scss */
button,
input[type="submit"] {
  font-family: "Alegreya Sans", sans-serif;
}

/* line 1, ../sass/_user.scss */
.user-modal {
  position: fixed;
  z-index: 100;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
/* line 10, ../sass/_user.scss */
.user-modal__inner {
  position: absolute;
  left: 1rem;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
  padding: 1.5rem;
}
/* line 20, ../sass/_user.scss */
.user-modal__form {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  justify-content: flex-start;
}
/* line 27, ../sass/_user.scss */
.user-modal .btn {
  margin-top: 1.5rem;
}

/* line 1, ../sass/_current.scss */
.app__screen--current {
  background-color: #A0E2E0;
}

/* line 5, ../sass/_current.scss */
.car {
  width: 100%;
  text-align: center;
  margin-top: auto;
}
/* line 10, ../sass/_current.scss */
.car__place {
  margin-bottom: 1.5rem;
}
/* line 13, ../sass/_current.scss */
.car__place__name {
  margin-bottom: 1.25rem;
}
/* line 18, ../sass/_current.scss */
.car__data {
  position: relative;
  font-size: 1rem;
  line-height: 1.5rem;
}
/* line 23, ../sass/_current.scss */
.car__data:before {
  content: '';
  display: block;
  width: 2rem;
  height: 1px;
  background-color: #000;
  margin: 0 auto 1.5rem;
}
/* line 33, ../sass/_current.scss */
.car__pos {
  margin-top: 2.5rem;
}

/* line 38, ../sass/_current.scss */
.change {
  width: 100%;
  margin-top: auto;
  padding-bottom: 2.5rem;
}

/* line 1, ../sass/_change.scss */
.app__screen--change {
  display: none;
  background-color: #A6EACE;
  align-items: stretch;
  justify-content: flex-end;
  padding-bottom: 2.5rem;
}
/* line 10, ../sass/_change.scss */
.app__screen--change .form-place input,
.app__screen--change textarea,
.app__screen--change .btn {
  display: none;
}
/* line 16, ../sass/_change.scss */
.app__screen--change .form-place input,
.app__screen--change textarea {
  margin-top: 1rem;
}
/* line 21, ../sass/_change.scss */
.app__screen--change .btn {
  margin-top: 2rem;
}
